.header{
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    align-items: center;
    z-index: 10;
    background-color: var(--blanco);
}

.nav{
    max-width: 1280px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    height: 70px;
    align-items: center;
}

.nav .logo{
    width: 156px;
    height: 60px;
    align-items: center;
    margin-left: 10%;
}

.menu  {
    display: flex;
    padding: 0 25px;
    align-items: center;
    text-align: end;
}

.menu .item{
    color: var(--grey-navbar);
    font-size: 17px;
    font-weight: var(--medium);
    justify-content: space-between;
    letter-spacing: -0.3px;
    line-height: 1.5em;
    margin: 0 12px;
}

.menu button{
    background-color: var(--morado);
    color: #ffffff;
}

@media (max-width:809px){
    .header{
        max-width: 810px;
    }
    
    .nav{
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin: auto 0;
        height: 70px;
        align-items: center;
        background-color: #ffffff;
    }
    
    .nav .logo{
        height: 60px;
        width: 156px;
        align-items: center;
        margin-left: 10%;
    }
    
    .menu  {
        display: flex;
        padding: 0 25px;
        align-items: center;
        text-align: end;
    }
    
    .menu .item{
        margin: 0 15px;
    }
    .oculto{
        display: none;
    }
}