.usuario{
    align-items: center;
    display: flex;
    flex: none;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 10px;
    height: min-content;
    justify-content: center;
    overflow: visible;
    padding: 50px;
    position: relative;
    left: 0;
    top: 0;

    background-image: url('https://framerusercontent.com/images/PwAiTB3AMTH11lhhnvLLNJpyU.jpg');
    background-position: left;
    background-repeat: repeat;
    background-size: cover;
}

.usuario .item-usuarios{    
    align-items: center;
    text-align: center;
    margin: 0 30px;
    background-color: transparent;
}

.title-item{
    font-size: 48px;
    font-weight: var(--semibold);
    margin: 0;
}

.content-item{
    font-size: 24px;
    font-weight: var(--medium);
    opacity: 0.8;
    margin: 0;
}

.title-item, 
.content-item{
    background-color: transparent;
    color: var(--blanco);
    
}